

body {
  margin: 0;
 
}

.collection-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100vh;
  overflow: hidden;
}

.collection-item {
  flex: 1;
  position: relative;
  background-size: cover;
  background-position: center;
}

.collection-item.men {
  background-image: url('image/bata\ sm1.avif');
}

.collection-item.women {
  background-image: url('image/bata\ sm2.avif');
}

.collection-item.kids {
  background-image: url('image/bata\ sm3.jpg');
}

.overlay {
  position: absolute;
  bottom: 10%;
  left: 10%;
  color: white;
  font-family: Arial, sans-serif;
 
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  margin-bottom: 220px;
}

.overlay h2 {
  font-size: 2.5rem;
  margin: 0;
}

.overlay p {
  font-size: 1.2rem;
  margin: 0.5rem 0 0;
}

@media (max-width: 768px) {
  .collection-container {
      flex-direction: column;
  }

  .overlay h2 {
      font-size: 2rem;
  }

  .overlay p {
      font-size: 1rem;
  }
}
